<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <title>Travel.et</title>
</head>
<body>
    <div class="container-fluid px-0">
        <div class="d-flex justify-content-between mb-1 py-2 flex-sm-colmun">
            <h1 class="small">betselotkidane111@gmial.com | +251 9 49 38 79 08</h1>
            <div class="d-none d-sm-block">
                    <img class="rounded-circle" width="30px" src="../Image/facebook.jpeg" alt="Facebook">
                    <img class="rounded-circle" width="30px" src="../Image/twitter.png" alt="Twitter">
                    <img class="rounded-circle" width="30px" src="../Image/Instagram_icon.png.webp" alt="Instagram">
                    <img class="rounded-circle" width="30px" src="../Image/linkedin.png" alt="Linkedin">
                    <img class="rounded-circle" width="30px" src="../Image/youtube.jpg" alt="YouTube">
            </div>
        </div>
    </div>

    <header class="sticky-top">
        <nav id="nav" class="navbar navbar-expand-md navbar-light bg-light py-1 px-5 shadow shadow-sm mb-1 " role="navigation">
            <div class="navbar-brand">
                <img width="60px" src="../Image/Logo.png" alt="Logo of the website">
            </div>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">☰
            </button>

            <div class="collapse navbar-collapse justify-content-end " id="navbarText">
                <ul class="navbar-nav bg-white">
                    <li class="nav-item text-center mx-2"><a class='nav-link fs-6 text-dark js-scroll-trigger' href="./Home.html"> Home</a></li>
                    <li class="nav-item text-center mx-2"><a class='nav-link fs-6 text-dark js-scroll-trigger' href="./Tour.html"> Tour</a></li>
                    <li class="nav-item text-center mx-2"><a class='nav-link fs-5 text-primary fw-bolder js-scroll-trigger' href="./Blog.html"> Blog</a></li>
                    <li class="nav-item text-center mx-2"><a class='nav-link fs-6 text-dark js-scroll-trigger' href="./Attraction.html"> Attractions</a></li>
                    <li class="nav-item text-center mx-2"><a class='nav-link fs-6 text-dark js-scroll-trigger' href="./Service.html"> Services</a></li>
                    <li class="nav-item text-center mx-2"><a class='nav-link fs-6 text-dark js-scroll-trigger' href="./About.html"> About</a></li>
                    <li class="nav-item text-center mx-2"><a class='nav-link fs-6 text-dark js-scroll-trigger' href="./Contact.html"> Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>
    
    <main>
        <h2 class="text-center mt-5 mb-3">Dalol to Dashen</h2>
        <article class="container mb-5">Ethiopia is located in the Northeast of Africa, bordering Somalia and Eritrea. It has Sudan, South Sudan, and Djibouti to its east,
            Kenya to its south and northwest and the Red Sea to its northeast. It's the 27th largest country in the world, with an area of 1.1 million square km. 
            Ethiopia is largely mountainous country situated at an elevation of 2000m above sea level and lake region that lies in the Great Rift Valley zone. 
            The Ethiopian highlands cover most of the country - these are some of the oldest mountains on Earth, over 12 million years old! The highest mountain peak is Ras Dashen at 4620m.
            A major river also flows through from north to south: the Blue Nile – one of two headwaters for the Nile River. 
            Ethiopia is home to over 80 different ethnic groups with Amharic as the official language alongside English and other local dialects.</article>
        <div class="container">
            <div class="row">
                <div class="col-md-5 me-5">
                    <img width="100%" class="" src="../Image/ras-dashen.jpg" alt="Ras Dashen Mountain Northern Ethiopia">
                    <h2 class="">Dashen</h2>
                </div>
                <article class="col-md-5 pt-5">The highest place in Ethiopia is Mount Ras Dejen, located on the Semien Mountains of northern Ethiopia. 
                    This volcano has an elevation of 4,533 metres (14,872ft) and sits atop a basaltic platform which has been created by thousands of 
                    years of volcanic activity. The mountain's peak is covered with snow for most of the year and provides stunning views as it rises out 
                    of a wide plain. Its unique shape gives it strong religious significance to local Ethiopians who consider this mountain sacred due to its
                    massive scale and power over nature.
                </article>
            </div>
            <div class="row mt-5">
                <article class="col-md-5 me-5 pt-5">The lowest place in Ethiopia is the Danakil Depression, located in the Afar Region of Ethiopia. It is one of
                    the hottest and driest places on earth, with an average temperature above 33.5 degrees Celsius and little to no rainfall. The 14,000-square 
                    mile lowland trough stretches across Ethiopia and also into neighboring Eritrea and Djibouti. It contains three salt lakes including Lake Asale 
                    which is 216 feet below sea level, making it the second lowest point in Africa after Lake Assal in Djibouti. </article>
                <div class="col-md-5">
                    <h2 class="">Dallol</h2>
                    <img width="100%" class="" src="../Image/dallol.jpg" alt="Dallol depression in Ethiopia Afar">
                </div>
            </div>
        </div>

        <section class="container my-5">
            <h5 class="">Top 5 Mountains in Ethiopia: Vast Beauty, Ancient History and Untamed Adventure. Explore the Highest Peaks of the Unique Landscape.</h5>
            <table class="table my-5">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Location</th>
                        <th scope="col">Height in meter</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Ras Dashen</td>
                        <td>Amhara, North Ethiopia</td>
                        <td>4,620 m</td>
                    </tr>
                    <tr>
                        <td>Tullu Dimtu</td>
                        <td>Bale</td>
                        <td>4,377 m</td>
                    </tr>
                    <tr>
                        <td>Ābune Yosēf</td>
                        <td>Amhara</td>
                        <td>4,260 m</td>
                    </tr>
                    <tr>
                        <td>Guge</td>
                        <td>SNNPR</td>
                        <td>4,200</td>
                    </tr>
                    <tr>
                        <td>Hay</td>
                        <td>Amhara</td>
                        <td>4,173</td>
                    </tr>
                </tbody>
            </table>
        </section>


        <section class="container">
            <h2 class="text-center my-5">Recomended places to be visited</h2>
            <div class="row">
                <article class="col-md-5 me-5 mb-5">Ethiopia is an incredible destination with a diverse range of attractions from 
                    the historic rock-hewn churches of Lalibela to the Simien Mountains.This country has plenty of beautiful places 
                    for visitors to enjoy. One of which is Danakil Depression, it is situated in Northeast Ethiopia and surrounded by
                    colourful salt plains and surreal volcanic landscapes. The church at Lalibela is also a breathtaking architectural
                    wonder as ancient stone buildings have been carved directly into rock, some have an amazing façade culminating in soaring 
                    spires. Further Lake Tana offers spectacular beauty surrounded by 
                    forested hillsides and houses 37 ancient monasteries on its islands.</article>
                <video width="100%" height="100%" controls class="col-md-6">
                    <source src="../Video/TOP 5 amaizing.mp4" type="video/mp4">
                    <track src="../Subtitle/Top+5+AMAZING+Places+to+Visit+in+Ethiopia++Africa+Travel+Guide_en.vtt" label="English" kind="captions" srclang="en-us" default>
                </video>
            </div>

            <div class="container">
                <div class="row my-5 border-bottom border-dark py-3">
                    <div class="col-md-4 me-5">
                        <img height="200px" width="100%" src="../Image/lalibela.jpg" alt="Lalibela Ethiopia">
                    </div>
                    <article class="col-md-7 py-5">Lalibela is a historical town in Ethiopia which was the medieval capital of the Zagwe dynasty. 
                        It contains 11 rock-hewn churches from the 12th and 13th centuries, carved from rock and decorated with symbols representing eternity.
                        These churches are a World Heritage Site, visited by thousands of visitors each year for their unique Ethiopian-style architecture, colorful
                        frescoes, and rituals.</article>
                </div>
    
                <div class="row my-5 border-bottom border-dark py-3">
                    <div class="col-md-4 me-5">
                        <img height="200px" width="100%" src="../Image/axum.jpg" alt="Axum in Ethiopia">
                    </div>
                    <article class="col-md-7 py-5">Axum is an ancient city located in Ethiopia. It is believed to be the center of the Queen of Sheba's kingdom
                        and one of the oldest cities in Africa. It contains many ancient monolithic stelae, or obelisks, that are carved from a single solid piece of 
                        granite and weigh up to 170 tonnes. Axum is home to the Ark of Covenant, claimed by some to be the chest containing the original Ten Commandments.
                        Axum is also known for its dramatic St Mary Cathedral which houses many religious artifacts such as a crown used by King Ezana. The city remains a major 
                        pilgrimage site for Ethiopian Christians.</article>
                </div>
    
                <div class="row my-5 border-bottom border-dark py-3">
                    <div class="col-md-4 me-5">
                        <img height="200px" width="100%" src="../Image/nile-fall.jpg" alt="Lake Tana & The Blue Nile Falls">
                    </div>
                    <article class="col-md-7 py-5">Lake Tana is Ethiopia's largest lake, set at an elevation of 1,840m near the source of the Blue Nile River. It is home to an array of 
                        islands and monasteries. Nestled within its core is a beautiful collection of birds, fish, and other wildlife. A highlight for travelers is visiting the thundering Blue Nile Falls, 
                        consisting of 4 main sections (Kerssae Falls, infrastructure powerhouse Falls, Gilgel Gibe Falls 1, & Gall gel Gibe Falls 2). As part of visiting this spectacular site, observers also
                        have access to a mesmerizing view over Lake Tana and beyond.</article>
                </div>
            </div>
        </section>
    </main>


    <footer class="overflow-hidden">
        <div class="container overflow-hidden mt-5">
            <div class="row">
                <div class="col-md-2">
                    <ul class="d-flex flex-column justify-content-center align-items-center">
                        <a class="fw-bold text-justify text-decoration-none text-dark py-1">About</a>
                        <a class="text-justify text-decoration-none text-dark" href="#">tourism</a>
                        <a class="text-justify text-decoration-none text-dark" href="#">companys</a>
                        <a class="text-justify text-decoration-none text-dark" href="#">SiTE</a>
                        <a class="text-justify text-decoration-none text-dark" href="#">travel.et</a>
                        <a class="text-justify text-decoration-none text-dark" href="#">AAU</a>
                        <a class="text-justify text-decoration-none text-dark" href="#">sponsor</a>
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul class="d-flex flex-column justify-content-center align-items-center">
                        <a class="fw-bold text-justify text-decoration-none text-dark py-1">Companys</a>
                        <a class="text-justify text-decoration-none text-dark" href="#">ride</a>                    
                        <a class="text-justify text-decoration-none text-dark" href="#">feres</a>                 
                        <a class="text-justify text-decoration-none text-dark" href="#">taxiye </a>                   
                        <a class="text-justify text-decoration-none text-dark" href="#">tour guides</a>                 
                        <a class="text-justify text-decoration-none text-dark" href="">hotel booking</a>                 
                        <a class="text-justify text-decoration-none text-dark" href="#">ethio tele</a>                                     
                    </ul>
                </div>
    
                <div class="col-md-3 d-sm-flex justify-content-center align-items-center d-none">
                    <img width="100px" src="../Image/Logo.png" alt="Logo of the website">
                </div>
    
                <div class="col-md-2">
                    <ul class="d-flex flex-column justify-content-center align-items-center">
                        <a class="fw-bold text-justify text-decoration-none text-dark py-1">Services</a>
                        <a class="text-justify text-decoration-none text-dark" href="#">tour guide</a>  
                        <a class="text-justify text-decoration-none text-dark" href="#">transport</a>   
                        <a class="text-justify text-decoration-none text-dark" href="#">flights</a>  
                        <a class="text-justify text-decoration-none text-dark" href="#">hotels</a>  
                        <a class="text-justify text-decoration-none text-dark" href="#">restaurant</a>   
                        <a class="text-justify text-decoration-none text-dark" href="#">music</a>   
    
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul class="d-flex flex-column justify-content-center align-items-center">
                        <a class="fw-bold text-justify text-decoration-none text-dark py-1">Contact</a>
                        <a class="text-justify text-decoration-none text-dark" href="#">email</a>   
                        <a class="text-justify text-decoration-none text-dark" href="#">facebook</a>    
                        <a class="text-justify text-decoration-none text-dark" href="#">instagram</a>   
                        <a class="text-justify text-decoration-none text-dark" href="#">linkedin</a>    
                        <a class="text-justify text-decoration-none text-dark" href="#">youtube</a> 
                        <a class="text-justify text-decoration-none text-dark" href="#">twitter</a>    
                    </ul>
                </div>
            </div>
        </div>

        <div class="container-fluid border-top border-dark">
            <p class="text-center mt-3">© Photo, Inc. 2019. We love our users!</p>
            <div class="d-flex justify-content-center">
                <div class="d-flex flex-column mx-1 align-items-center">
                    <div>
                        <img class="rounded-circle" width="35px" src="../Image/facebook.jpeg" alt="Facebook">
                    </div>                    
                    <p class="small">Facebook</p>
                </div>
                <div class="d-flex flex-column mx-1">
                    <div>
                        <img class="rounded-circle" width="35px" src="../Image/twitter.png" alt="Twitter">
                    </div> 
                    <p class="small">Twiter</p>
                </div>
                <div class="d-flex flex-column mx-1">
                    <div>
                        <img class="rounded-circle" width="35px" src="../Image/Instagram_icon.png.webp" alt="Instagram">
                    </div>
                    <p class="small">Instagram</p>
                </div>

                <div class="d-flex flex-column mx-1">
                    <div>
                        <img class="rounded-circle" width="35px" src="../Image/linkedin.png" alt="Linkedin">
                    </div>
                    <p class="small">Linkedin</p>
                </div>
                <div class="d-flex flex-column mx-1">
                    <div>
                        <img class="rounded-circle" width="35px" src="../Image/youtube.jpg" alt="YouTube">
                    </div>
                    <p class="small">YouTube</p>
                </div>
                
            </div>
        </div>
    </footer>

    <script src="../js/bootstrap.min.js"></script>
</body>
</html>