<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel.et</title>
    <link rel="stylesheet" href="./../Bootsrap css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid px-0">
        <div class="d-flex justify-content-between mb-1 py-2 flex-sm-colmun">
            <h1 class="small">betselotkidane111@gmial.com | +251 9 49 38 79 08</h1>
            <div class="d-none d-sm-block">
                    <img class="rounded-circle" width="30px" src="../Image/facebook.jpeg" alt="Facebook">
                    <img class="rounded-circle" width="30px" src="../Image/twitter.png" alt="Twitter">
                    <img class="rounded-circle" width="30px" src="../Image/Instagram_icon.png.webp" alt="Instagram">
                    <img class="rounded-circle" width="30px" src="../Image/linkedin.png" alt="Linkedin">
                    <img class="rounded-circle" width="30px" src="../Image/youtube.jpg" alt="YouTube">
            </div>
        </div>
    </div>

    <header class="sticky-top">
        <nav id="nav" class="navbar navbar-expand-md navbar-light bg-light py-1 px-5 shadow shadow-sm mb-1 " role="navigation">
            <div class="navbar-brand">
                <img width="60px" src="../Image/Logo.png" alt="Logo of the website">
            </div>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">☰
            </button>

            <div class="collapse navbar-collapse justify-content-end " id="navbarText">
                <ul class="navbar-nav bg-white">
                    <li class="nav-item text-center mx-2"><a class='nav-link fs-6 text-dark js-scroll-trigger' href="./Home.html"> Home</a></li>
                    <li class="nav-item text-center mx-2"><a class='nav-link fs-6 text-dark js-scroll-trigger' href="./Tour.html"> Tour</a></li>
                    <li class="nav-item text-center mx-2"><a class='nav-link fs-6 text-dark js-scroll-trigger' href="./Blog.html"> Blog</a></li>
                    <li class="nav-item text-center mx-2"><a class='nav-link fs-6 text-dark js-scroll-trigger' href="./Attraction.html"> Attractions</a></li>
                    <li class="nav-item text-center mx-2"><a class='nav-link fs-6 text-dark js-scroll-trigger' href="./Service.html"> Services</a></li>
                    <li class="nav-item text-center mx-2"><a class='nav-link fs-6 text-dark js-scroll-trigger' href="./About.html"> About</a></li>
                    <li class="nav-item text-center mx-2"><a class='nav-link fs-5 text-primary fw-bolder js-scroll-trigger' href="./Contact.html"> Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main class="contianer mt-5 mb-5">
        <h2 class="text-center mb-5">Contact us</h2>
        <div class="container border border-dark rounded-3 mb-5">
            <div class="px-sm-5">
                <h2 class="text-center fs-4 fw-normal py-4">Leave us your comments</h2>
                <form method="get" id="contact-form" class="was-validated py-4 px-md-5 px-4">
                    <div class="d-flex flex-column justify-content-center"> 
                        <div class="px-sm-5 mb-3">
                            <label class="form-label fs-5 me-2" for="full-name">Full name: </label> 
                            <input  placeholder="Full name* " id="full-name" class="form-control w-100" type="text" required>
                            <div class="valid-feedback">Valid name.</div>
                            <div class="invalid-feedback">Please fill out your name.</div>
                        </div>
                        <div class="px-sm-5 mb-3">
                            <label class="form-lable fs-5 me-5" for="email-address">Email: </label>
                            <input  placeholder="email@example.com" id="email-address" class="form-control w-100" type="text" required>
                            <div class="valid-feedback">Valid.</div>
                            <div class="invalid-feedback">Please fill out this field.</div>
                        </div>
                    </div>
                    <div  class="px-sm-5 mb-3">
                        <label class="form-label fs-5 me-4" for="subject">Subject: </label>
                        <input  class="form-control w-100" id="subject" placeholder="Subject*" type="text" required><br>
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="px-sm-5 mb-3">
                        <label class="message__label fs-5" for="message">Message: </label><br>
                        <textarea  class="w-100" id="message" name="message" placeholder="Message*"></textarea>
                        <button type="submit" class="btn btn-dark" id="send">Send message</button>
                        <p class="error" id="error"></p>
                    </div>
                </form>
            </div>
        </div>

        <div class="row bg-dark text-white py-5 mt-5 px-5">
            <div class="col-md-6 d-flex flex-column justify-content-center">
                <div class="d-flex justify-content-center mb-2">
                    <img width="40px" src="../Image/call-icon.png" alt="Phone number">
                </div>
                <div class="d-flex justify-content-center mb-2">
                    <p class="call">+251 9 49 38 79 08</p>
                </div>
                <div class="d-flex justify-content-center mb-2">
                    <img width="40px" src="../Image/mail-icon.png" alt="Email Address">
                </div>
                <div class="d-flex justify-content-center mb-2">
                    <p class="email">betselotkidane111@gmail.com</p>
                </div>
                <div class="d-flex justify-content-center mb-2">
                    <img width="40px" src="../Image/location icon.png" alt="Location">
                </div>
                <div class="d-flex justify-content-center mb-2">
                    <p class="">Ethiopia Addis Ababa</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-center fw-bold fs-3 mb-4">Follow us</div>
                <div class="d-flex justify-content-center mb-5">
                    <img class="me-3" width="39px" src="../Image/facebook.png" alt="Facebook icon">
                    <img class="me-3" width="39px" src="../Image/twitter-white.png" alt="Twitter icon">
                    <img class="me-3" width="39px" src="../Image/youtube.png" alt="Youtube Icon">
                    <img class="me-3" width="39px" src="../Image/instagram.png" alt="Instagram icon">
                    <img class="me-3" width="39px" src="../Image/linked in.png" alt="">
                </div>
                <div class="d-flex justify-content-center">
                    <form method="get" class="was-validated" id="follow-us__form">
                        <label class="form-label fs-3 me-2" for="follow-us">Email: </label>
                        <input class="form-control" id="follow-us" placeholder="Enter your email" type="text" required><br>
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback fs-5">Enter your email please.</div>
                        <button type="submit" class="btn btn-success mt-3 py-1 fs-4" id="sub-btn">Subscribe</button>
                    </form>
                </div>
            </div> 
        </div>
    </main>
    
    <footer class="overflow-hidden">
        <div class="container overflow-hidden mt-5">
            <div class="row">
                <div class="col-md-2">
                    <ul class="d-flex flex-column justify-content-center align-items-center">
                        <a class="fw-bold text-justify text-decoration-none text-dark py-1">About</a>
                        <a class="text-justify text-decoration-none text-dark" href="#">tourism</a>
                        <a class="text-justify text-decoration-none text-dark" href="#">companys</a>
                        <a class="text-justify text-decoration-none text-dark" href="#">SiTE</a>
                        <a class="text-justify text-decoration-none text-dark" href="#">travel.et</a>
                        <a class="text-justify text-decoration-none text-dark" href="#">AAU</a>
                        <a class="text-justify text-decoration-none text-dark" href="#">sponsor</a>
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul class="d-flex flex-column justify-content-center align-items-center">
                        <a class="fw-bold text-justify text-decoration-none text-dark py-1">Companys</a>
                        <a class="text-justify text-decoration-none text-dark" href="#">ride</a>                    
                        <a class="text-justify text-decoration-none text-dark" href="#">feres</a>                 
                        <a class="text-justify text-decoration-none text-dark" href="#">taxiye </a>                   
                        <a class="text-justify text-decoration-none text-dark" href="#">tour guides</a>                 
                        <a class="text-justify text-decoration-none text-dark" href="">hotel booking</a>                 
                        <a class="text-justify text-decoration-none text-dark" href="#">ethio tele</a>                                     
                    </ul>
                </div>
    
                <div class="col-md-3 d-sm-flex justify-content-center align-items-center d-none">
                    <img width="100px" src="../Image/Logo.png" alt="Logo of the website">
                </div>
    
                <div class="col-md-2">
                    <ul class="d-flex flex-column justify-content-center align-items-center">
                        <a class="fw-bold text-justify text-decoration-none text-dark py-1">Services</a>
                        <a class="text-justify text-decoration-none text-dark" href="#">tour guide</a>  
                        <a class="text-justify text-decoration-none text-dark" href="#">transport</a>   
                        <a class="text-justify text-decoration-none text-dark" href="#">flights</a>  
                        <a class="text-justify text-decoration-none text-dark" href="#">hotels</a>  
                        <a class="text-justify text-decoration-none text-dark" href="#">restaurant</a>   
                        <a class="text-justify text-decoration-none text-dark" href="#">music</a>   
    
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul class="d-flex flex-column justify-content-center align-items-center">
                        <a class="fw-bold text-justify text-decoration-none text-dark py-1">Contact</a>
                        <a class="text-justify text-decoration-none text-dark" href="#">email</a>   
                        <a class="text-justify text-decoration-none text-dark" href="#">facebook</a>    
                        <a class="text-justify text-decoration-none text-dark" href="#">instagram</a>   
                        <a class="text-justify text-decoration-none text-dark" href="#">linkedin</a>    
                        <a class="text-justify text-decoration-none text-dark" href="#">youtube</a> 
                        <a class="text-justify text-decoration-none text-dark" href="#">twitter</a>    
                    </ul>
                </div>
            </div>
        </div>

        <div class="container-fluid border-top border-dark">
            <p class="text-center mt-3">© Photo, Inc. 2019. We love our users!</p>
            <div class="d-flex justify-content-center">
                <div class="d-flex flex-column mx-1 align-items-center justify-content-center">
                    <div>
                        <img class="rounded-circle" width="35px" src="../Image/facebook.jpeg" alt="Facebook">
                    </div>                    
                    <p class="small">Facebook</p>
                </div>
                <div class="d-flex flex-column mx-1 align-items-center justify-content-center">
                    <div>
                        <img class="rounded-circle" width="35px" src="../Image/twitter.png" alt="Twitter">
                    </div> 
                    <p class="small">Twiter</p>
                </div>
                <div class="d-flex flex-column mx-1 align-items-center justify-content-center">
                    <div>
                        <img class="rounded-circle" width="35px" src="../Image/Instagram_icon.png.webp" alt="Instagram">
                    </div>
                    <p class="small">Instagram</p>
                </div>

                <div class="d-flex flex-column mx-1 align-items-center justify-content-center">
                    <div>
                        <img class="rounded-circle" width="35px" src="../Image/linkedin.png" alt="Linkedin">
                    </div>
                    <p class="small">Linkedin</p>
                </div>
                <div class="d-flex flex-column mx-1 align-items-center justify-content-center">
                    <div>
                        <img class="rounded-circle" width="35px" src="../Image/youtube.jpg" alt="YouTube">
                    </div>
                    <p class="small">YouTube</p>
                </div>
                
            </div>
        </div>
    </footer>

    <script src="./../Bootstrap js/bootstrap.min.js"></script>
</body>
</html>