<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel.et</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid px-0">
        <div class="d-flex justify-content-between mb-1 py-2 flex-sm-colmun">
            <h1 class="small">betselotkidane111@gmial.com | +251 9 49 38 79 08</h1>
            <div class="d-none d-sm-block">
                    <img class="rounded-circle" width="30px" src="../Image/facebook.jpeg" alt="Facebook">
                    <img class="rounded-circle" width="30px" src="../Image/twitter.png" alt="Twitter">
                    <img class="rounded-circle" width="30px" src="../Image/Instagram_icon.png.webp" alt="Instagram">
                    <img class="rounded-circle" width="30px" src="../Image/linkedin.png" alt="Linkedin">
                    <img class="rounded-circle" width="30px" src="../Image/youtube.jpg" alt="YouTube">
            </div>
        </div>
    </div>

    <header class="sticky-top">
        <nav id="nav" class="navbar navbar-expand-md navbar-light bg-light py-1 px-5 shadow shadow-sm mb-1 " role="navigation">
            <div class="navbar-brand">
                <img width="60px" src="../Image/Logo.png" alt="Logo of the website">
            </div>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">☰
            </button>

            <div class="collapse navbar-collapse justify-content-end " id="navbarText">
                <ul class="navbar-nav bg-white">
                    <li class="nav-item mx-2 text-center"><a class='nav-link fs-5 text-primary fw-bolder js-scroll-trigger' href="./Home.html"> Home</a></li>
                    <li class="nav-item mx-2 text-center"><a class='nav-link fs-6 text-dark js-scroll-trigger' href="./Tour.html"> Tour</a></li>
                    <li class="nav-item mx-2 text-center"><a class='nav-link fs-6 text-dark js-scroll-trigger' href="./Blog.html"> Blog</a></li>
                    <li class="nav-item mx-2 text-center"><a class='nav-link fs-6 text-dark js-scroll-trigger' href="./Attraction.html"> Attractions</a></li>
                    <li class="nav-item mx-2 text-center"><a class='nav-link fs-6 text-dark js-scroll-trigger' href="./Service.html"> Services</a></li>
                    <li class="nav-item mx-2 text-center"><a class='nav-link fs-6 text-dark js-scroll-trigger' href="./About.html"> About</a></li>
                    <li class="nav-item mx-2 text-center"><a class='nav-link fs-6 text-dark js-scroll-trigger' href="./Contact.html"> Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main class="mb-5">
        <div class="position-relative h-100">
            <video class="z-n3 top-0 start-0 end-0 bottom-0 w-100 h-100" autoplay muted loop>
                <source src="../Video/snapsave.mp4">
                <track label="English" src="../Subtitle/Journey Through Ethiopia - Africa Travel Documentary [English (auto-generated)] [DownloadYoutubeSubtitles.com].vtt" kind="captions" srcla.ng="en-us" default> 
            </video>   
            <div class="z-5 position-absolute top-0 start-0 end-0 bottom-0 w-100 d-flex align-items-center justify-content-center flex-column h-100">
                <h1 class="text-white fw-bold fs-1 my-2">Welcome to Ethiopia</h1>
                <h2 class="text-white fw-bold fs-1 my-2">. . .The Land of Origin. . .</h2>
            </div>
        </div>
    </main>

    <section>
        <article class="container my-5">
            <h2 class="text-center">Welcome to Travel.et</h2>
            <p class="text-center">
                Ethiopia is Africa's oldest independent country and one of the fastest growing economies today.
                Ethiopia is the second most populous country in Africa with a population of over 115 million. 
                The country succeeded in its economic development registering an annual economic growth rate of 10% over the past 15 years.
                So, are you ready to exlore the beauty of nature in Ethiopia. Here we are!
            </p>
            <div class="d-flex align-items-center justify-content-center">
                <h5 class="mx-4">Want to know more about us?</h5>
                <button href="./About.html" type="button" class="btn btn-dark mx-3">About us</button>
            </div>
        </article>

        <div class=""></div>
        <div>
            <h1 class="text-center">Explore Ethiopia</h1>
            <div class="p-0">
                <div class="row p-5 bg-dark">
                    <div class="col-md-4 col-sm-6">
                        <div class="">
                            <img width="100%" height="300px" src="../Image/addis ababa1.jpg" alt="Addis Ababa">
                        </div>
                        <div class="">Addis Ababa Bole</div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="">
                            <img width="100%" height="300px" src="../Image/addis ababa bole.jpg" alt="">
                        </div>
                        <div class="">Addis Ababa Bole street</div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="">
                            <img width="100%" height="300px" src="../Image/african union.jpg" alt="">
                        </div>
                        <div class="">Addis Ababa African Union</div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="">
                            <img width="100%" height="300px" src="../Image/Adama.jpg" alt="">
                        </div>
                        <div class="">Adama</div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="">
                            <img width="100%" height="300px" src="../Image/Hawassa.png" alt="">
                        </div>
                        <div class="">Hawassa</div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="">
                            <img width="100%" height="300px" src="../Image/Bahirdar.jpg" alt="">
                        </div>
                        <div class="">Bahirdar</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-5">
            <h2 class="text-center mb-5">What is new in Ethiopia</h2>
            <div class="row">
                <div class="col-10 col-md-7">
                    <p class="p-3">Ethiopia has completed the third filling of its mega-dam reservoir on the Blue Nile, Prime Minister Abiy Ahmed has announced, a development that could raise further tensions with downstream neighbours Egypt and Sudan.
                        The announcement on Friday comes a day after Ethiopia said it had launched power production from the second turbine at the Grand Ethiopian Renaissance Dam (GERD).</p>
                </div>
                <div class="col-10 col-md-5">
                    <img class="mt-4 w-100" src="../Image/abbay-water-flows-down-a-dam.webp" alt="Ethiopian third filling of its mega-dam reservoir ">
                </div>
            </div>
            <article class="row">
                <div class="col-10 col-md-7">
                    <p class="p-3">The Addis Ababa “Beautifying Sheger” River Development Project is a scheme designed to improve the 
                        living conditions of people living near the river. The project started in the year 2020 and its goal is to restore the natural
                        ecosystem of the river, improve sanitation infrastructure and create safe recreational spaces. The project aims at improving water 
                        quality and ecological balance, developing green spaces and parks, building bridges as well as other structures to increase public
                        access and safety.</p>
                </div>
                <div class="col-10 col-md-5">
                    <img class="mt-4 w-100" src="../Image/addis-sheger-river-yohannes-minas_2.jpg" alt="Addis Ababa Beautifing sheger">
                </div>
            </article>
            <article class="row">
                <div class="col-10 col-md-7">
                    <p class="p-3">Ethiopia-Djibouti Transport Corridor: This major transport corridor is intended to improve the efficiency of railway links between Addis Ababa and Djibouti, accelerating trade in the region
                        The transport corridor represents an important part of the development of the Greater Horn of Africa, connecting landlocked Ethiopia with the sea at Djibouti. The railway link is expected to greatly improve travel times 
                        and reduce transport costs by a factor of five. It also involves redeveloping jetties and constructing access roads that are planned to enhance trade opportunities between Ethiopia and Djibouti and further afield.</p>
                </div>
                <div class="col-10 col-md-5">
                    <img class="mt-4 w-100" src="../Image/Ethio-djbout.jpg" alt=">Ethiopia-Djibouti Transport Corridor">
                </div>
            </article>
        </div>

        <div class="container mt-5">
            <h2 class="text-center my-5">You are in a good company!</h2>
            <div class="d-flex flex-wrap justify-content-center">
                <div class="d-flex flex-column">
                    <div class="m-2">
                        <img width="100px" height="100px" class="img-fluid" src="../Image/online hotel.jpg" alt="Online Hotel information">
                    </div>
                    <div class="">Hotels Online</div>
                </div>
                <div class="m-2">
                    <div class="">
                        <img width="100px" height="100px" class="img-fluid" src="../Image/tour guide.jpg" alt="Tour guidance">
                    </div>
                    <div class="">Tour guidance</div>
                </div>
                <div class="m-2">
                    <div class="">
                        <img width="100px" height="100px" class="img-fluid" src="../Image/fast service.webp" alt="Fast Service">
                    </div>
                    <div class="">Fast Service</div>
                </div>
                <div class="m-2">
                    <div class="">
                        <img width="100px" height="100px" class="img-fluid" src="../Image/online transport.jpg" alt="Online transport service">
                    </div>
                    <div class="">Transportation</div>
                </div>
                <div class="m-2">
                    <div class="">
                        <img width="100px" height="100px" class="img-fluid" src="../Image/flights.png" alt="Online flight service">
                    </div>
                    <div class="">Flights</div>
                </div>
            </div>
        </div>

        <div class="container my-5">
            <h5 class="text-center">Please subscribe for new updates</h5>
            <form id="subscribtion-form" class="was-validated px-sm-5">
                <div class="sm-container px-sm-5"> 
                    <label class="form-label mx-2" for="email-add">Email </label>
                    <input class="d-block form-control" id="email-add" placeholder="email@example.com" type="text" name="email" required>
                    <button class="btn bg-dark text-white px-4 mt-4" type="submit" id="subscribe__btn">Subscribe</button>
                </div>
            </form>
        </div>

    </section>

    <footer class="overflow-hidden">
        <div class="container overflow-hidden mt-5">
            <div class="row">
                <div class="col-md-2">
                    <ul class="d-flex flex-column justify-content-center align-items-center">
                        <a class="fw-bold text-justify text-decoration-none text-dark py-1">About</a>
                        <a class="text-justify text-decoration-none text-dark" href="#">tourism</a>
                        <a class="text-justify text-decoration-none text-dark" href="#">companys</a>
                        <a class="text-justify text-decoration-none text-dark" href="#">SiTE</a>
                        <a class="text-justify text-decoration-none text-dark" href="#">travel.et</a>
                        <a class="text-justify text-decoration-none text-dark" href="#">AAU</a>
                        <a class="text-justify text-decoration-none text-dark" href="#">sponsor</a>
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul class="d-flex flex-column justify-content-center align-items-center">
                        <a class="fw-bold text-justify text-decoration-none text-dark py-1">Companys</a>
                        <a class="text-justify text-decoration-none text-dark" href="#">ride</a>                    
                        <a class="text-justify text-decoration-none text-dark" href="#">feres</a>                 
                        <a class="text-justify text-decoration-none text-dark" href="#">taxiye </a>                   
                        <a class="text-justify text-decoration-none text-dark" href="#">tour guides</a>                 
                        <a class="text-justify text-decoration-none text-dark" href="">hotel booking</a>                 
                        <a class="text-justify text-decoration-none text-dark" href="#">ethio tele</a>                                     
                    </ul>
                </div>
    
                <div class="col-md-3 d-sm-flex justify-content-center align-items-center d-none">
                    <img width="100px" src="../Image/Logo.png" alt="Logo of the website">
                </div>
    
                <div class="col-md-2">
                    <ul class="d-flex flex-column justify-content-center align-items-center">
                        <a class="fw-bold text-justify text-decoration-none text-dark py-1">Services</a>
                        <a class="text-justify text-decoration-none text-dark" href="#">tour guide</a>  
                        <a class="text-justify text-decoration-none text-dark" href="#">transport</a>   
                        <a class="text-justify text-decoration-none text-dark" href="#">flights</a>  
                        <a class="text-justify text-decoration-none text-dark" href="#">hotels</a>  
                        <a class="text-justify text-decoration-none text-dark" href="#">restaurant</a>   
                        <a class="text-justify text-decoration-none text-dark" href="#">music</a>   
    
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul class="d-flex flex-column justify-content-center align-items-center">
                        <a class="fw-bold text-justify text-decoration-none text-dark py-1">Contact</a>
                        <a class="text-justify text-decoration-none text-dark" href="#">email</a>   
                        <a class="text-justify text-decoration-none text-dark" href="#">facebook</a>    
                        <a class="text-justify text-decoration-none text-dark" href="#">instagram</a>   
                        <a class="text-justify text-decoration-none text-dark" href="#">linkedin</a>    
                        <a class="text-justify text-decoration-none text-dark" href="#">youtube</a> 
                        <a class="text-justify text-decoration-none text-dark" href="#">twitter</a>    
                    </ul>
                </div>
            </div>
        </div>

        <div class="container-fluid border-top border-dark">
            <p class="text-center mt-3">© Photo, Inc. 2019. We love our users!</p>
            <div class="d-flex justify-content-center">
                <div class="d-flex flex-column mx-1 align-items-center justify-content-center">
                    <div>
                        <img class="rounded-circle" width="35px" src="../Image/facebook.jpeg" alt="Facebook">
                    </div>                    
                    <p class="small">Facebook</p>
                </div>
                <div class="d-flex flex-column mx-1 align-i tems-center justify-content-center">
                    <div>
                        <img class="rounded-circle" width="35px" src="../Image/twitter.png" alt="Twitter">
                    </div> 
                    <p class="small">Twiter</p>
                </div>
                <div class="d-flex flex-column mx-1 align-i tems-center justify-content-center">
                    <div>
                        <img class="rounded-circle" width="35px" src="../Image/Instagram_icon.png.webp" alt="Instagram">
                    </div>
                    <p class="small">Instagram</p>
                </div>

                <div class="d-flex flex-column mx-1 align-i tems-center justify-content-center">
                    <div>
                        <img class="rounded-circle" width="35px" src="../Image/linkedin.png" alt="Linkedin">
                    </div>
                    <p class="small">Linkedin</p>
                </div>
                <div class="d-flex flex-column mx-1 align-i tems-center justify-content-center">
                    <div>
                        <img class="rounded-circle" width="35px" src="../Image/youtube.jpg" alt="YouTube">
                    </div>
                    <p class="small">YouTube</p>
                </div>
                
            </div>
        </div>
    </footer>

    <script src="../js/bootstrap.min.js"></script>
</body>
</html>