<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel.et</title>
    <link rel="stylesheet" href="./../Bootsrap css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid px-0">
        <div class="d-flex justify-content-between mb-1 py-2 flex-sm-colmun">
            <h1 class="small">betselotkidane111@gmial.com | +251 9 49 38 79 08</h1>
            <div class="d-none d-sm-block">
                    <img class="rounded-circle" width="30px" src="../Image/facebook.jpeg" alt="Facebook">
                    <img class="rounded-circle" width="30px" src="../Image/twitter.png" alt="Twitter">
                    <img class="rounded-circle" width="30px" src="../Image/Instagram_icon.png.webp" alt="Instagram">
                    <img class="rounded-circle" width="30px" src="../Image/linkedin.png" alt="Linkedin">
                    <img class="rounded-circle" width="30px" src="../Image/youtube.jpg" alt="YouTube">
            </div>
        </div>
    </div>

    <header class="sticky-top">
        <nav id="nav" class="navbar navbar-expand-md navbar-light bg-light py-1 px-5 shadow shadow-sm mb-1 " role="navigation">
            <div class="navbar-brand">
                <img width="60px" src="../Image/Logo.png" alt="Logo of the website">
            </div>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">☰
            </button>

            <div class="collapse navbar-collapse justify-content-end " id="navbarText">
                <ul class="navbar-nav bg-white">
                    <li class="nav-item text-center mx-2"><a class='nav-link fs-6 text-dark js-scroll-trigger' href="./Home.html"> Home</a></li>
                    <li class="nav-item text-center mx-2"><a class='nav-link fs-6 text-dark js-scroll-trigger' href="./Tour.html"> Tour</a></li>
                    <li class="nav-item text-center mx-2"><a class='nav-link fs-6 text-dark js-scroll-trigger' href="./Blog.html"> Blog</a></li>
                    <li class="nav-item text-center mx-2"><a class='nav-link fs-6 text-dark js-scroll-trigger' href="./Attraction.html"> Attractions</a></li>
                    <li class="nav-item text-center mx-2"><a class='nav-link fs-5 text-primary fw-bolder js-scroll-trigger' href="./Service.html"> Services</a></li>
                    <li class="nav-item text-center mx-2"><a class='nav-link fs-6 text-dark js-scroll-trigger' href="./About.html"> About</a></li>
                    <li class="nav-item text-center mx-2"><a class='nav-link fs-6 text-dark js-scroll-trigger' href="./Contact.html"> Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>


    <main class="container px-5">
        <h2 class="text-center fs-2 my-5">Tours and Travel Services</h2>
        <div class="row px-5">
            <div class="col-md-4 me-5 mb-5">
                <img height="450px" width="100%" src="../Image/hamer 2.jpg" alt="Hemer Women">
            </div>
            <article class="col-md-6">
                <h3 class="fs-2">Service</h3>
                <p class="py-5">We specialize in creating unique and personalized sightseeing journeys 
                    for visitors from around the world. Our experienced team of certified tour guides offers private,
                    customized tours tailored to your interests and schedule. From cultural and historical cities to outdoor 
                    activities such as trekking, bird watching or nature walks, we work with you to provide an unforgettable 
                    experience. Whether you plan a half-day city tour or a multi-day adventure across the country, we provide logistics
                    support, accommodation arrangements and high-quality service on a budget that suits you. Satisfaction guaranteed!</p>
            </article>
        </div>

        <div class="container my-5 px-5">
            <div class="row">
                <div class="col-md-2 col-sm-4">
                    <div class="">
                        <img width="90px" height="90px" src="../Image/transortation.png" alt="Transportation service">
                    </div>
                    <div class="service-flex__center">
                        <p class="service-grid__text">Transportation</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4">
                    <div class="">
                        <img width="90px" height="90px" src="../Image/hotels.png" alt="Hotels service">
                    </div>
                    <div class="service-flex__center">
                        <p class="service-grid__text">Hotels</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4">
                    <div class="">
                        <img width="90px" height="90px" src="../Image/flights.png" alt="Flights information">
                    </div>
                    <div class="service-flex__center">
                        <p class="service-grid__text">Flights</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4">
                    <div class="">
                        <img width="90px" height="90px" src="../Image/tour guide.jpg" alt="Tour guide service">
                    </div>
                    <div class="service-flex__center">
                        <p class="service-grid__text">Tour Guide</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4">
                    <div class="">
                        <img width="90px" height="90px" src="../Image/recommendations.png" alt="Recommendation service">
                    </div>
                    <div class="service-flex__center">
                        <p class="service-grid__text">Recommendations</p>
                    </div>    
                </div>
                <div class="col-md-2 col-sm-4">
                    <div class="">
                        <img width="90px" height="90px" src="../Image/history.png" alt="History of Ethiopia service">
                    </div>
                    <div class="service-flex__center">
                        <p class="service-grid__text">History</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="constainer px-5">
            <h2 class="text-center fs-2">You may also like this</h2>   
            <div class="row my-5">
                <div class="col-sm-4">
                    <img width="100%" src="../Image/ethio tour and travel egency.png" alt="Ethiopian Tour and Travel Egency">
                    <p class="fs-8 fw-bold">Ethio Tour and Travel</p>
                </div>
                <div class="col-sm-4">
                    <img width="100%" src="../Image/Ethio air line official website.png" alt="Ethiopian ariline">
                    <p class="fs-8 fw-bold">Ethiopian airline official</p>
                </div>
                <div class="col-sm-4">
                    <img width="100%" src="../Image/bookign.com official website.png" alt="Booking.com official website">
                    <p class="fs-8 fw-bold">Booking.com</p>
                </div>
            </div>
        </div> 
    </main>

    <footer class="overflow-hidden">
        <div class="container overflow-hidden mt-5">
            <div class="row">
                <div class="col-md-2">
                    <ul class="d-flex flex-column justify-content-center align-items-center">
                        <a class="fw-bold text-justify text-decoration-none text-dark py-1">About</a>
                        <a class="text-justify text-decoration-none text-dark" href="#">tourism</a>
                        <a class="text-justify text-decoration-none text-dark" href="#">companys</a>
                        <a class="text-justify text-decoration-none text-dark" href="#">SiTE</a>
                        <a class="text-justify text-decoration-none text-dark" href="#">travel.et</a>
                        <a class="text-justify text-decoration-none text-dark" href="#">AAU</a>
                        <a class="text-justify text-decoration-none text-dark" href="#">sponsor</a>
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul class="d-flex flex-column justify-content-center align-items-center">
                        <a class="fw-bold text-justify text-decoration-none text-dark py-1">Companys</a>
                        <a class="text-justify text-decoration-none text-dark" href="#">ride</a>                    
                        <a class="text-justify text-decoration-none text-dark" href="#">feres</a>                 
                        <a class="text-justify text-decoration-none text-dark" href="#">taxiye </a>                   
                        <a class="text-justify text-decoration-none text-dark" href="#">tour guides</a>                 
                        <a class="text-justify text-decoration-none text-dark" href="">hotel booking</a>                 
                        <a class="text-justify text-decoration-none text-dark" href="#">ethio tele</a>                                     
                    </ul>
                </div>
    
                <div class="col-md-3 d-sm-flex justify-content-center align-items-center d-none">
                    <img width="100px" src="../Image/Logo.png" alt="Logo of the website">
                </div>
    
                <div class="col-md-2">
                    <ul class="d-flex flex-column justify-content-center align-items-center">
                        <a class="fw-bold text-justify text-decoration-none text-dark py-1">Services</a>
                        <a class="text-justify text-decoration-none text-dark" href="#">tour guide</a>  
                        <a class="text-justify text-decoration-none text-dark" href="#">transport</a>   
                        <a class="text-justify text-decoration-none text-dark" href="#">flights</a>  
                        <a class="text-justify text-decoration-none text-dark" href="#">hotels</a>  
                        <a class="text-justify text-decoration-none text-dark" href="#">restaurant</a>   
                        <a class="text-justify text-decoration-none text-dark" href="#">music</a>   
    
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul class="d-flex flex-column justify-content-center align-items-center">
                        <a class="fw-bold text-justify text-decoration-none text-dark py-1">Contact</a>
                        <a class="text-justify text-decoration-none text-dark" href="#">email</a>   
                        <a class="text-justify text-decoration-none text-dark" href="#">facebook</a>    
                        <a class="text-justify text-decoration-none text-dark" href="#">instagram</a>   
                        <a class="text-justify text-decoration-none text-dark" href="#">linkedin</a>    
                        <a class="text-justify text-decoration-none text-dark" href="#">youtube</a> 
                        <a class="text-justify text-decoration-none text-dark" href="#">twitter</a>    
                    </ul>
                </div>
            </div>
        </div>

        <div class="container-fluid border-top border-dark">
            <p class="text-center mt-3">© Photo, Inc. 2019. We love our users!</p>
            <div class="d-flex justify-content-center">
                <div class="d-flex flex-column mx-1 align-items-center justify-content-center">
                    <div>
                        <img class="rounded-circle" width="35px" src="../Image/facebook.jpeg" alt="Facebook">
                    </div>                    
                    <p class="small">Facebook</p>
                </div>
                <div class="d-flex flex-column mx-1 align-items-center justify-content-center">
                    <div>
                        <img class="rounded-circle" width="35px" src="../Image/twitter.png" alt="Twitter">
                    </div> 
                    <p class="small">Twiter</p>
                </div>
                <div class="d-flex flex-column mx-1 align-items-center justify-content-center">
                    <div >
                        <img class="rounded-circle" width="35px" src="../Image/Instagram_icon.png.webp" alt="Instagram">
                    </div>
                    <p class="small">Instagram</p>
                </div>

                <div class="d-flex flex-column mx-1 align-items-center justify-content-center">
                    <div>
                        <img class="rounded-circle" width="35px" src="../Image/linkedin.png" alt="Linkedin">
                    </div>
                    <p class="small">Linkedin</p>
                </div>
                <div class="d-flex flex-column mx-1 align-items-center justify-content-center">
                    <div>
                        <img class="rounded-circle" width="35px" src="../Image/youtube.jpg" alt="YouTube">
                    </div>
                    <p class="small">YouTube</p>
                </div>
                
            </div>
        </div>
    </footer>


    <script src="./../Bootstrap js/bootstrap.min.js"></script>
</body>
</html>