<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel.et</title>
    <link rel="stylesheet" href="./../Bootsrap css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid px-0">
        <div class="d-flex justify-content-between mb-1 py-2 flex-sm-colmun">
            <h1 class="small">betselotkidane111@gmial.com | +251 9 49 38 79 08</h1>
            <div class="d-none d-sm-block">
                    <img class="rounded-circle" width="30px" src="../Image/facebook.jpeg" alt="Facebook">
                    <img class="rounded-circle" width="30px" src="../Image/twitter.png" alt="Twitter">
                    <img class="rounded-circle" width="30px" src="../Image/Instagram_icon.png.webp" alt="Instagram">
                    <img class="rounded-circle" width="30px" src="../Image/linkedin.png" alt="Linkedin">
                    <img class="rounded-circle" width="30px" src="../Image/youtube.jpg" alt="YouTube">
            </div>
        </div>
    </div>

    <header class="sticky-top">
        <nav id="nav" class="navbar navbar-expand-md navbar-light bg-light py-1 px-5 shadow shadow-sm mb-1 " role="navigation">
            <div class="navbar-brand">
                <img width="60px" src="../Image/Logo.png" alt="Logo of the website">
            </div>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">☰
            </button>

            <div class="collapse navbar-collapse justify-content-end " id="navbarText">
                <ul class="navbar-nav bg-white">
                    <li class="nav-item text-center mx-2"><a class='nav-link fs-6 text-dark js-scroll-trigger' href="./Home.html"> Home</a></li>
                    <li class="nav-item text-center mx-2"><a class='nav-link fs-5 text-primary fw-bolder js-scroll-trigger' href="./Tour.html"> Tour</a></li>
                    <li class="nav-item text-center mx-2"><a class='nav-link fs-6 text-dark js-scroll-trigger' href="./Blog.html"> Blog</a></li>
                    <li class="nav-item text-center mx-2"><a class='nav-link fs-6 text-dark js-scroll-trigger' href="./Attraction.html"> Attractions</a></li>
                    <li class="nav-item text-center mx-2"><a class='nav-link fs-6 text-dark js-scroll-trigger' href="./Service.html"> Services</a></li>
                    <li class="nav-item text-center mx-2"><a class='nav-link fs-6 text-dark js-scroll-trigger' href="./About.html"> About</a></li>
                    <li class="nav-item text-center mx-2"><a class='nav-link fs-6 text-dark js-scroll-trigger' href="./Contact.html"> Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <h2 class="text-center large mt-5 mb-3">Hotels</h2>
        <div class="row px-5">
            <div class="col-md-4 col-sm-6">
                <figure class="">
                    <img width="100%" class="" src="../Image/sheraton addis.png" alt="Sheraton Addis Hotel Addis Ababa">
                    <div class="">Info</div>
                </figure>
                <p class="">Sheraton Addis</p>
            </div>
            <div class="col-md-4 col-sm-6">
                <figure class="">
                    <img width="100%" class="" src="../Image/Hilton addis.png" alt="Hilton Hotel Addis Ababa">
                    <div class="">Info</div>
                </figure>
                <p class="">Hilton Hotel</p>
            </div>
            <div class="col-md-4 col-sm-6">
                <figure class="">
                    <img width="100%" class="" src="../Image/capital-hotel-and-spa.jpg" alt="Capital Hotel and SPA Addis Ababa">
                    <div class="">Info</div>
                </figure>
                <p class="">Capital Hotel and SPA</p>
            </div>
            <div class="col-md-4 col-sm-6">
                <figure class="">
                    <img width="100%" class="" src="../Image/addissinia-hotel.jpg" alt="Abbisinia Hotel Addis Ababa">
                    <div class="">Info</div>
                </figure>
                <p class="">Abbisinia Hotel</p>
            </div>
            <div class="col-md-4 col-sm-6">
                <figure class="">
                    <img width="100%" class="" src="../Image/monarch-hotel.jpg " alt="Monarch Hotel Addis Ababa">
                    <div class="">Info</div>
                </figure>
                <p class="">Monarch Hotel</p>
            </div>
            <div class="col-md-4 col-sm-6">
                <figure class="">
                    <img width="100%" class="" src="../Image/sky-light-hotel.jpg" alt="Sheraton Addis Hotel Addis Ababa">
                    <div class="">Info</div>
                </figure>
                <p class="">Sky Light Hotel</p>
            </div>
        </div>

        <section class="container mt-4">
            <h3 class="text-center mb-4">Flights</h3>
            <div class="row p-3">
                <div class="col-md-6 col-sm-12 mb-4">
                    <img width="100%" class="d-block w-100" src="../Image/ethiopian-airline-transformed.jpg" alt="Ethiopian Airways">
                </div>
                <div class="col-md-6 col-sm-12 mb-4">
                    <h2 class="text-center mb-3">Ethiopian airways</h2>
                    <p class="">Ethiopian Airlines is the national flag carrier of Ethiopia and one of the largest airlines in Africa. It is owned by the Ethiopian government and is headquartered at Bole International Airport in Addis Ababa, Ethiopia. 
                        The airline operates flights to more than 104 destinations across five continents, making it one of the most extensive networks on the continent. In addition to its regular routes, Ethiopian Airlines also provides charter services.
                        Established in 1945.</p>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-sm-12 col-md-4">
                    <img width="100%" height="250px" class="" src="../Image/Semera-Airport.jpg" alt="Ethiopian airport found in 'Semera' ">
                    <p class="">Semera Airport Ethiopia</p>
                </div>
                <div class="col-sm-12 col-md-4">
                    <img width="100%" height="250px" class="" src="../Image/gondar-airport-ethiopia.jpg" alt="Ethiopian airport found in 'Gonder'">
                    <p class="">Gondar Airport Ethiopia</p>
                </div>
                <div class="col-sm-12 col-md-4">
                    <img width="100%" height="250px" class="" src="../Image/bahrdar-airport.jpeg" alt="Ethiopian airport found in 'Bahrdar'">
                    <p class="">Bahrdar Airport Ethiopia</p>
                </div>
            </div>
        </section>


        <section>
            <h2 class="text-center">Cars</h2>
            <div class="container">
                <div class="row p-sm-5">
                    <div class="col-md-5 row border-bottom border-dark mb-5 me-5">
                        <div class="col-4 me-">
                            <img width="80px" class="" src="../Image/feres transport.png" alt="'Feres' transportation system in Ethiopa">
                            <p class="">Feres</p>
                        </div>
                        <div class="col-7">
                            <h6>Head Office</p>
                            <p>Getu Commercial Business Center</p>
                            <p>Email Address : [email protected]</p>
                            <p>Toll Free: 6090</p>
                        </div>
                    </div>
                    <div class="col-md-5 row border-bottom border-dark mb-5 me-5">
                        <div class="col-4 me-">
                            <img width="80px" class="" src="../Image/ride.png" alt="'Ride' transportation system in Ethiopa">
                            <p class="">Ride </p>
                        </div>
                        <div class="col-7">
                            <h6>Head Office</p>
                            <p>Addis Ababa, Ethiopia</p>
                            <p>Support@ride8294.com</p>
                            <p>call 8294 /Dial ‘taxi’</p>
                        </div>
                    </div>
                    <div class="col-md-5 row border-bottom border-dark mb-5 me-5">
                        <div class="col-4 me-">
                            <img width="80px" class="" src="../Image/seregela.png" alt="'Seregela' transportation system in Ethiopa">
                            <p class="">Seregela</p>
                        </div>
                        <div class="col-7">
                            <h6>Head Office</p>
                            <p>Merkeb Plaza, 5th Floor, Bole, Addis</p>
                            <p>Email: hello@seregelagroup.com</p>
                            <p>Phone: +25111 557 3640/43/44</p>
                        </div>
                    </div>
                    <div class="col-md-5 row border-bottom border-dark mb-5 me-5">
                        <div class="col-4 me-" > 
                            <img width="80px" class="" src="../Image/zay-ride.png" alt="'Zay-ride' transportation system in Ethiopa">
                            <p class="">Zay-ride</p>
                        </div>
                        <div class="col-7">
                            <h6>Head Office</p>
                            <p>Bole Mafi Mall #602, Addis Ababa</p>
                            <p>Email Address : info@zayride.com</p>
                            <p>Call Center 6303 | Office +251 116 721 052</p>
                        </div>
                    </div>
                    <div class="col-md-5 row border-bottom border-dark mb-5 me-5">
                        <div class="col-4 me-">
                            <img width="80px" class="" src="../Image/taxiye.jpeg" alt="'Taxiye' transportation system in Ethiopa">
                            <p class="">Taxiye</p>
                        </div>
                        <div class="col-7">
                            <h6>Head Office</p>
                            <p>Ethiopia,Addis Ababa,Yerer
                                Leka Building</p>
                            <p>Email Address : info@taxiye.com</p>
                            <p>Toll Free: 6055</p>
                        </div>
                    </div>
                    <div class="col-md-5 row border-bottom border-dark mb-5 me-5">
                        <div class="col-4 me-">
                            <img width="80px" class="" src="../Image/hello taxi.png" alt="'Halo taxi' transportation system in Ethiopa">
                            <p class="">Halo Taxi</p>
                        </div>
                        <div class="col-7">
                            <h6>Head Office</p>
                            <p> (Debre Zeit Road) Next to Global Hotel,
                                Kirkos</p>
                            <p>Email Address :info@addisfortune.net</p>
                            <p>Pbx: +251114163020</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="container">
            <h3 class="text-center">Other Tranportation Systems</h3>
            <div class="d-flex flex-wrap justify-content-center align-items-center mt-5" >
                <div class="mx-2">
                    <img width="100px" class="" src="../Image/Bole taxi.jpg" alt="Taxi">
                    <p class="">Taxi</p>
                </div>
                <div class="mx-2">
                    <img width="100px" class="" src="../Image/lada.jpg" alt="Addis Ababa Lada Taxi">
                    <p class="">Lada</p>
                </div>
                <div class="mx-2">
                    <img width="100px" class="" src="../Image/minibus.jpg" alt="Mini bus">
                    <p class="">Mini bus</p>
                </div>
                <div class="mx-2">
                    <img width="100px" class="" src="../Image/bus.jpg" alt="Bus">
                    <p class="">Bus</p>
                </div>
                <div class="mx-2">
                    <img width="100px"class="" src="../Image/meter taxi.jpg" alt="Meter taxi">
                    <p class="">Meter taxis</p>
                </div>
            </div>
        </section>
    </main>

    <footer class="overflow-hidden">
        <div class="container overflow-hidden mt-5">
            <div class="row">
                <div class="col-md-2 col-sm-6">
                    <ul class="d-flex flex-column justify-content-center align-items-center">
                        <a class="fw-bold text-justify text-decoration-none text-dark py-1">About</a>
                        <a class="text-justify text-decoration-none text-dark" href="#">tourism</a>
                        <a class="text-justify text-decoration-none text-dark" href="#">companys</a>
                        <a class="text-justify text-decoration-none text-dark" href="#">SiTE</a>
                        <a class="text-justify text-decoration-none text-dark" href="#">travel.et</a>
                        <a class="text-justify text-decoration-none text-dark" href="#">AAU</a>
                        <a class="text-justify text-decoration-none text-dark" href="#">sponsor</a>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-6">
                    <ul class="d-flex flex-column justify-content-center align-items-center">
                        <a class="fw-bold text-justify text-decoration-none text-dark py-1">Companys</a>
                        <a class="text-justify text-decoration-none text-dark" href="#">ride</a>                    
                        <a class="text-justify text-decoration-none text-dark" href="#">feres</a>                 
                        <a class="text-justify text-decoration-none text-dark" href="#">taxiye </a>                   
                        <a class="text-justify text-decoration-none text-dark" href="#">tour guides</a>                 
                        <a class="text-justify text-decoration-none text-dark" href="">hotel booking</a>                 
                        <a class="text-justify text-decoration-none text-dark" href="#">ethio tele</a>                                     
                    </ul>
                </div>
    
                <div class="col-md-3 d-sm-flex justify-content-center align-items-center d-none">
                    <img width="100px" src="../Image/Logo.png" alt="Logo of the website">
                </div>
    
                <div class="col-md-2 col-sm-6">
                    <ul class="d-flex flex-column justify-content-center align-items-center">
                        <a class="fw-bold text-justify text-decoration-none text-dark py-1">Services</a>
                        <a class="text-justify text-decoration-none text-dark" href="#">tour guide</a>  
                        <a class="text-justify text-decoration-none text-dark" href="#">transport</a>   
                        <a class="text-justify text-decoration-none text-dark" href="#">flights</a>  
                        <a class="text-justify text-decoration-none text-dark" href="#">hotels</a>  
                        <a class="text-justify text-decoration-none text-dark" href="#">restaurant</a>   
                        <a class="text-justify text-decoration-none text-dark" href="#">music</a>   
    
                    </ul>
                </div>
                <div class="col-md-2 col-sm-6">
                    <ul class="d-flex flex-column justify-content-center align-items-center">
                        <a class="fw-bold text-justify text-decoration-none text-dark py-1">Contact</a>
                        <a class="text-justify text-decoration-none text-dark" href="#">email</a>   
                        <a class="text-justify text-decoration-none text-dark" href="#">facebook</a>    
                        <a class="text-justify text-decoration-none text-dark" href="#">instagram</a>   
                        <a class="text-justify text-decoration-none text-dark" href="#">linkedin</a>    
                        <a class="text-justify text-decoration-none text-dark" href="#">youtube</a> 
                        <a class="text-justify text-decoration-none text-dark" href="#">twitter</a>    
                    </ul>
                </div>
            </div>
        </div>

        <div class="container-fluid border-top border-dark">
            <p class="text-center mt-3">© Photo, Inc. 2019. We love our users!</p>
            <div class="d-flex justify-content-center">
                <div class="d-flex flex-column mx-1 align-items-center justify-content-center">
                    <div>
                        <img class="rounded-circle" width="35px" src="../Image/facebook.jpeg" alt="Facebook">
                    </div>                    
                    <p class="small">Facebook</p>
                </div>
                <div class="d-flex flex-column mx-1 align-items-center justify-content-center">
                    <div>
                        <img class="rounded-circle" width="35px" src="../Image/twitter.png" alt="Twitter">
                    </div> 
                    <p class="small">Twiter</p>
                </div>
                <div class="d-flex flex-column mx-1 align-items-center justify-content-center">
                    <div>
                        <img class="rounded-circle" width="35px" src="../Image/Instagram_icon.png.webp" alt="Instagram">
                    </div>
                    <p class="small">Instagram</p>
                </div>

                <div class="d-flex flex-column mx-1 align-items-center justify-content-center">
                    <div>
                        <img class="rounded-circle" width="35px" src="../Image/linkedin.png" alt="Linkedin">
                    </div>
                    <p class="small">Linkedin</p>
                </div>
                <div class="d-flex flex-column mx-1 align-items-center justify-content-center">
                    <div>
                        <img class="rounded-circle" width="35px" src="../Image/youtube.jpg" alt="YouTube">
                    </div>
                    <p class="small">YouTube</p>
                </div>
                
            </div>
        </div>
    </footer>


    <script src="./../Bootstrap js/bootstrap.min.js"></script>
</body>
</html>